@font-face {
  font-family: "iconfont"; /* Project id 5071371 */
  src: url('iconfont.woff2?t=1764247578637') format('woff2'),
       url('iconfont.woff?t=1764247578637') format('woff'),
       url('iconfont.ttf?t=1764247578637') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xinzengfangjian:before {
  content: "\e778";
}

.icon-history:before {
  content: "\e74d";
}

.icon-search:before {
  content: "\e67d";
}

.icon-home:before {
  content: "\e618";
}

.icon-zhuzhaixiaoqu:before {
  content: "\ffbf";
}

.icon-jingyingqingkuang:before {
  content: "\e772";
}

.icon-qianyuequeren:before {
  content: "\e627";
}

.icon-daibanshixiang:before {
  content: "\e602";
}

.icon-zhuanzuqueren:before {
  content: "\e60c";
}

.icon-daifuliebiao:before {
  content: "\e763";
}

.icon-yuqizhangdan:before {
  content: "\e716";
}

.icon-daishouzhangdan:before {
  content: "\e77e";
}

.icon-tianjiazuyue:before {
  content: "\e688";
}

.icon-fangtaiweihu:before {
  content: "\e689";
}

.icon-kefu:before {
  content: "\e686";
}

.icon-lurufangyuan:before {
  content: "\e687";
}

.icon-mobile:before {
  content: "\e67e";
}

.icon-mima:before {
  content: "\e612";
}

.icon-tishi:before {
  content: "\e619";
}

.icon-renzheng:before {
  content: "\e640";
}

.icon-hetong:before {
  content: "\e641";
}

.icon-yonghu:before {
  content: "\e64b";
}

.icon-fangdong:before {
  content: "\e603";
}

